@{
    ViewData["Title"] = "Customer Chat";
    var userId = User.FindFirst("UserId")?.Value; // Truy xuất UserId từ Claims
}

@using Microsoft.AspNetCore.Localization
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Security.Claims
@inject LanguageService language
@{
    var languageCookie = HttpContextAccessor.HttpContext.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];
    var currentLanguage = "vi-VN"; // Ngôn ngữ mặc định

    if (!string.IsNullOrEmpty(languageCookie))
    {
        var parsedCookie = CookieRequestCultureProvider.ParseCookieValue(languageCookie);
        currentLanguage = parsedCookie?.UICultures.FirstOrDefault().Value ?? "vi-VN";
    }
}
<footer class="mt-5">
    <div class="tintuc-footer hide-mobile hide-tablet">
        <div class="container">
            <div class="main-title">
                <p>  @language.GetKey("New Technology News")</p>
            </div>
            <!-- end_main_title -->
            <div class="list-tintuc">
                <div class="row">
                    <!-- Add Razor logic for dynamic content here if needed -->
                    <div class="item-tintuc col-xl-3 col-md-6 hvr-grow-shadow">
                        <a href="">
                            <img class="" src="~/img/footer-tintuc-1.jpg" alt="">
                        </a>
                        <!-- Add dynamic content here if needed -->
                        <div class="media-body">
                            <div class="info-tintuc">
                                <span class="date-create">
                                    26-06-2023, 4:42 pm
                                </span>
                            </div>
                            <!-- end_info_tintuc -->
                            <div class="title-tintuc">
                                <a href="#">TOP 5 Laptop Gaming 20-25 Triệu Bán Chạy Nhất 2023</a>
                            </div>
                            <!-- end_title_tintuc -->
                        </div>
                    </div>
                    <div class="item-tintuc col-xl-3 col-md-6 hvr-grow-shadow">
                        <a href="">
                            <img class="" src="/img/footer-tintuc-2.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <div class="info-tintuc">
                                <span class="date-create">
                                    26-06-2023, 4:42 pm
                                </span>
                            </div>
                            <!-- end_info_tintuc -->
                            <div class="title-tintuc">
                                <a href="">TOP 3 Laptop Gaming Intel Đáng Mua Nhất 2023</a>
                            </div>
                            <!-- end_title_tintuc -->
                        </div>
                    </div>
                    <!-- end_col_lg_3 -->
                    <div class="item-tintuc col-xl-3 col-md-6 hvr-grow-shadow">
                        <a href="">
                            <img class="" src="/img/footer-tintuc-3.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <div class="info-tintuc">
                                <span class="date-create">
                                    26-06-2023, 4:42 pm
                                </span>
                            </div>
                            <!-- end_info_tintuc -->
                            <div class="title-tintuc">
                                <a href="">
                                    Lenovo ra mắt Legion R9000P 2023 sở hữu Chip Ryzen mới, GPU RTX 4060 với
                                    hiệu năng khủng
                                </a>
                            </div>
                            <!-- end_title_tintuc -->
                        </div>
                    </div>
                    <!-- end_col_lg_3 -->
                    <div class="item-tintuc col-xl-3 col-md-6 hvr-grow-shadow">
                        <a href="">
                            <img class="" src="/img/footer-tintuc-4.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <div class="info-tintuc">
                                <span class="date-create">
                                    26-06-2023, 4:42 pm
                                </span>
                            </div>
                            <!-- end_info_tintuc -->
                            <div class="title-tintuc">
                                <a href="">ASUS ra mắt màn hình gaming tần số quét cao, độ phân giải 5K</a>
                            </div>
                            <!-- end_title_tintuc -->
                        </div>
                    </div>
                    <!-- Add more items with dynamic content here -->
                </div>
            </div>
            <!-- end_list_tintuc -->
        </div>
    </div>
    <div class="footer-link">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <b>
                                @language.GetKey("AZ VIETNAM TECHNOLOGY INFORMATICS COMPANY LIMITED")
                            </b>
                        </li>
                        <li>  @language.GetKey("Address: No. 18, Lane 121, Thai Ha, Dong Da, Hanoi")</li>
                        <li> @language.GetKey("Hotline"): 0825 233 233</li>
                        <li>Email: hotrolaptopaz@gmail.com</li>
                        <li class="share mt-2">
                            <a href="https://www.facebook.com/laptopaz.vn" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.youtube.com/c/LAPTOPAZREVIEW" target="_blank"><i class="bi bi-youtube"></i></a>
                            <a href="https://www.tiktok.com/laptopaz" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <b>
                                @language.GetKey("COMPANY INFORMATION")
                            </b>
                        </li>
                        <li>@language.GetKey("Company Introduction")</li>
                        <li>@language.GetKey("Recruitment")</li>
                        <li>@language.GetKey("Send comments and complaints")</li>
                        <li class="baohanh-item mt-3">
                            <a href="http://www.online.gov.vn/Home/WebDetails/76577?AspxAutoDetectCookieSupport=1" class="thongbaobct">
                                <img src="~/img/footer-icon.png">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <b>
                                @language.GetKey("COMPANY POLICY")
                            </b>
                        </li>
                        <li>@language.GetKey("Quality Policy")</li>
                        <li>@language.GetKey("Warranty Policy")</li>
                        <li>@language.GetKey("Return policy") </li>
                        <li>@language.GetKey("Information security policy")</li>
                        <li>@language.GetKey("Shipping policy")</li>
                        <li>@language.GetKey("Instructions for purchasing and payment")</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <b>
                                @language.GetKey("LAPTOPAZ SHOP SYSTEM")
                            </b>
                        </li>
                        <li>@language.GetKey("No. 18, Lane 121, Thai Ha, Dong Da, Hanoi")</li>
                        <li>@language.GetKey("Sales: From 8:30 a.m. - 9:30 p.m")</li>
                        <li>@language.GetKey("Technical: From 8:30 a.m. - 12:00 p.m. & 1:30 p.m. - 5:30 p.m.")</li>
                        <li class="mt-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (currentLanguage == "vi-VN")
                                    {

                                        <img src="~/img/vietnam.png" />



                                    }
                                    else if (currentLanguage == "en-US")
                                    {

                                        <img src="~/img/united-kingdom.png" />


                                    }

                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="changeLanguage" asp-route-language="vi-VN">
                                            <img src="~/img/vietnam.png" /> @language.GetKey("Vietnam")
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="changeLanguage" asp-route-language="en-US">
                                            <img src="~/img/united-kingdom.png" /> @language.GetKey("English")
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end_row -->
            <div class="h_line"></div>
        </div>

    </div>
    <!-- end_footer_link -->
    <div class="footer-bottom">
        <p>
            @language.GetKey("AZ Vietnam Technology Informatics Company Limited. Tax code number 0108956087 issued on October 23, 2019 Laptopaz. All Rights Reserved Reserved")
        </p>
    </div>
</footer>

<!-- Popup chat window -->
<!-- chat open -->
<div class="chat-bar-open" id="chat-open">
    <button id="chat-open-button"
            type="button"
            class="collapsible close"
            onclick="chatOpen()">
        <img src="~/img/telegram.png" alt="send messenger image" />
    </button>
</div>

<!-- chat close -->
<div class="chat-bar-close" id="chat-close">
    <button id="chat-close-button"
            type="button"
            class="collapsible close"
            onclick="chatClose()">
        <i class="material-icons-outlined"> close </i>
    </button>
</div>

<!-- chat-window 1 -->
<div class="chat-window" id="chat-window1">
    <div class="hi-there">
        <p class="p1">Xin chào quý khách !</p>
        <br />
        <p class="p2">Xin chào Hãy hỏi chúng tôi bất cứ điều gì, Chia sẻ của bạn<br />Nhận xét.</p>
    </div>
    <div class="start-conversation">
        <h1>
            Chúng tôi thường trả lời sau vài phút.
        </h1>
        <button class="new-conversation"
                type="button"
                onclick="openConversation()">
            <span>Bắt đầu ngay</span><i class="material-icons-outlined"> send </i>
        </button>
    </div>
</div>


<div class="chat-window2" id="chat-window2" data-user-id="@userId">
    <div class="message-box" id="messageBox">

        <div class="first-chat">
            <p>Is there any offlines versions available for Maxeon Player?</p>
            <div class="arrow"></div>
        </div>
        <div class="second-chat">
            <div class="circle"></div>
            <p>Currently we don't have but we will launch soon.</p>
        </div>
    </div>
    <div class="input-box">
        <div class="write-reply">
            <input type="text" id="messageInput" placeholder="Nhập tin nhắn" />
        </div>
        <div class="send-button">
            <button id="sendButton">Gửi</button>
        </div>
    </div>
</div>

