@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLteAdmin.cshtml";
}
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.AdminDTO.InventoryViewDto>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản Lý Kho Hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">Quản Lý Kho Hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-info inventory_create" id="generateMaLoai">
                                <i class="fa-solid fa-plus"></i> Thêm sản phẩm vào kho
                            </button>
                            <div class="modal fade" id="Inventory_Create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="edit-inventory-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> Mã Kho</th>
                                        <th> Tên Sản Phẩm</th>
                                        <th> Ngày Nhập</th>
                                        <th> Số Lượng</th>
                                        <th> Chỉnh Sửa </th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th> Xóa </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.MaKho
                                            </td>
                                            <td>
                                                @item.TenSanPham
                                            </td>
                                            <td>
                                                @String.Format("{0:MM/dd/yyyy}", item.NgayNhap)
                                            </td>
                                            <td>
                                                @item.SoLuong
                                            </td>
                                            <td>
                                                <a data-id="@item.Id" class="btn btn-sm btn-warning edit-inventory"><i class="bi bi-pencil-square"></i><i class="fa-solid fa-pen-to-square"></i> Sửa</a>&nbsp;
                                            </td>

                                            @if (User.IsInRole("Admin"))
                                            {
                                                <td>
                                                    <a onclick="deleteInventory(@item.Id)" class="btn btn-sm btn-danger">
                                                        <i class="bi bi-trash-fill"></i><i class="fa-solid fa-trash-can"></i> Xóa
                                                    </a>
                                                </td>

                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>