﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "User Page";
}
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.Models.ProductModel>
<section class="section-content mb-5">
    <div class="container">
        <header class="section-heading py-4 d-flex justify-content-between">
            <h3 class="section-title">Danh Sách Sản phẩm</h3>
            <a class="btn btn-secondary" href="#" role="button" style="height: fit-content;">Xem tất cả</a>
        </header> <!-- section-heading.// -->
        <div class="row item-grid">
             @foreach (var product in Model)
            {   
            <div class="col-lg-3 col-md-6">
                <div class="card p-3 mb-4">
                        <a asp-area=" " asp-controller="User" asp-action="ProductDetail" asp-route-productid="@product.Id" class="img-wrap text-center">
                            <img class="img-fluid" src="@product.Image">
                    </a>
                    <figcaption class="info-wrap mt-2">
                            <a asp-area=" " asp-controller="User" asp-action="ProductDetail" asp-route-productid="@product.Id class="title">@product.TenSanPham</a>
                            <div class="price mt-1 fw-bold">@product.Gia</div>
                    </figcaption>
                </div>
            </div>
            }<!-- col.// -->
        </div>
        <div class="card-body d-flex justify-content-end">
            @Html.PagedListPager(Model, page => Url.Action("Index", "User", new { page, searchName = ViewBag.SearchName, area = " " }), new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            Display = PagedListDisplayMode.IfNeeded,
            MaximumPageNumbersToDisplay = 3  // Số trang bạn muốn hiển thị
            })
        </div>
           <!-- row.// -->
    </div> <!-- container.// -->
</section> 