@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLteAdmin.cshtml";
}
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.AdminDTO.UserModelViewDto>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản Lý Tài Khoản</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">Quản Lý Tài Khoản</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @if (User.IsInRole("Admin"))
                            {
                                <button type="button" class="btn btn-info create-user">
                                    <i class="fa-solid fa-plus"></i> Thêm Tài Khoản
                                </button>
                            }
                            <div class="modal fade" id="Create_User" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> Mã Tài Khoản </th>
                                        <th> Họ Tên </th>
                                        <th> Email</th>
                                        <th> Vai Trò</th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th>Sửa </th>

                                            <th> Xóa </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td width="20%">
                                                @item.MaNguoiDung
                                            </td>
                                            <td width="20%">
                                                @item.HoTen

                                            </td>
                                            <td width="20%">
                                                @item.Email

                                            </td>

                                            <td width="20%">
                                                @item.VaiTro
                                            </td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <td width ="10%">
                                                    <a data-id="@item.Id" class="btn btn-sm btn-warning edit-user"><i class="bi bi-pencil-square"></i><i class="fa-solid fa-pen-to-square"></i> Sửa</a>&nbsp;
                                                </td>

                                                <td width="10%">

                                                    <a onclick="deleteUser(@item.Id)" class="btn btn-sm btn-danger">
                                                        <i class="bi bi-trash-fill"></i><i class="fa-solid fa-trash-can"></i> Xóa
                                                    </a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>