@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.AdminDTO.UserModelViewDto>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title fs-3"> Quản Lý User</h3>
        </div>
        <div class="row">
            <div class="row grid-margin ">

                <div class="col-lg-6">
                    @if (User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn btn-info create-user">
                            <i class="fa-solid fa-plus"></i> Thêm Người Dùng
                        </button>
                    }
                </div>

                <div class="col-lg-6">
                    <form class="d-flex " role="search" asp-area="Admin" asp-controller="User" asp-action="Index">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchName" id="searchName" value="@ViewBag.SearchName">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>

                <div class="modal fade" id="Create_User" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Mã Người Dùng </th>
                                    <th> Họ Tên </th>
                                    <th> Email</th>
                                    <th> Vai Trò</th>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <th> Chỉnh Sửa </th>

                                        <th> Xóa </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="20%">
                                            @item.MaNguoiDung
                                        </td>
                                        <td width="20%">
                                            @item.HoTen

                                        </td>
                                        <td width="20%">
                                            @item.Email

                                        </td>

                                        <td width="20%">
                                            @item.VaiTro
                                        </td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <td>
                                                <a data-id="@item.Id" class="btn btn-sm btn-warning edit-user"><i class="bi bi-pencil-square"></i><i class="fa-solid fa-pen-to-square"></i> Chỉnh Sửa</a>&nbsp;
                                            </td>

                                            <td width="10%">

                                                <a onclick="deleteUser(@item.Id)" class="btn btn-sm btn-danger">
                                                    <i class="bi bi-trash-fill"></i><i class="fa-solid fa-trash-can"></i> Xóa
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body d-flex justify-content-end">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchName = ViewBag.SearchName }), new PagedListRenderOptions
                                    {
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" },
                                    Display = PagedListDisplayMode.IfNeeded,
                                    MaximumPageNumbersToDisplay = 3 // Số trang bạn muốn hiển thị
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>
