@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.Models.CategoryModel>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title fs-3"> Quản Lý Loại Sản Phẩm </h3>
        </div>
        <div class="row">
            <div class="col-lg-4 grid-margin ">
                <button type="button" class="btn btn-info category_create" id="generateMaLoai">
                    <i class="fa-solid fa-plus"></i> Thêm loại sản phẩm
                </button>

                <div class="modal fade" id="Category_Create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="edit-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-12 grid-margin stretch-card">

                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Mã loại Sản Phẩm </th>
                                    <th> Tên Loại Sản Phẩm</th>
                                    <th> Chỉnh Sửa </th>
                                    <th> Xóa </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="20%">
                                            @item.MaLoai
                                        </td>
                                        <td width="20%">
                                            @item.TenLoai
                                        </td>
                                        <td width="20%">
                                            <a href="#" class="btn btn-warning edit-category" data-id="@item.Id"><i class="bi bi-pencil-square"></i><i class="fa-solid fa-pen-to-square"></i> Chỉnh Sửa</a>
                                        </td>


                                        <td width="10%">
                                            <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i><i class="fa-solid fa-trash-can"></i> Xóa </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body d-flex  justify-content-end">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                                    {
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" },
                                    Display = PagedListDisplayMode.IfNeeded,
                                    MaximumPageNumbersToDisplay = 3  // Số trang bạn muốn hiển thị
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>


