@using System.Globalization
@model List<WebsiteBanHang.Areas.Admin.AdminDTO.OrderDto>
@foreach (var item in Model)
{
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Hóa Đơn : @item.MaHoaDon</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <article class="card mb-4">
            <header class="card-header d-flex justify-content-between">
                <p class="text-capitalize m-auto">Ngày mua: @item.NgayBan</p>
                <p class="text-capitalize m-auto">Tên Nhân Viên: @item.TenNhanVien</p>
            </header> <!-- card-header.// -->

            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg-8">
                        <h6 class="text-muted">Địa chỉ người nhận</h6>
                        <p class="lh-lg">
                           
                                <span class="text-capitalize">Tên Khách Hàng: @item.TenKhachHang <br></span>
                            
                            
                                <span class="text-capitalize">Số điện thoại: @item.SoDienThoai <br></span>
                           
                                <span class="text-capitalize">Địa chỉ: @item.DiaChi <br></span>
                            
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="text-muted">Thanh toán</h6>
                        <p class="lh-lg">
                            <strong>Tổng cộng:  @string.Format(new CultureInfo("vi-VN", false), "{0:c0}",@item.TongCong)</strong>
                        </p>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body.// -->

            <hr class="m-0">

            <div class="table-responsive">
                <table class="cart-table table table-borderless">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col" style="min-width: 280px;">Sản phẩm</th>
                            <th scope="col" style="min-width: 150px;">Số lượng</th>
                            <th scope="col" style="min-width: 150px;">Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var chiTiet in item.ChiTietHoaDon)
                        {
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="float-start me-3"><img src="~/@chiTiet.img"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title">@chiTiet.TenSanPham</a>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>@chiTiet.SoLuong</td>
                                <td>
                                    <div class="price-wrap">
                                        <span class="price">@string.Format(new CultureInfo("vi-VN", false), "{0:c0}", @chiTiet.Gia)</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div> <!-- table.responsive-md.// -->
        </article>

    </div>
}