@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.AdminDTO.OrderDto>
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title fs-3"> Đơn Hàng Hủy</h3>
        </div>
        <div class="modal fade" id="View_Order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @if (Model.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Mã Hóa Đơn</th>
                                        <th> Ngày Đặt </th>
                                        <th> Trạng Thái</th>
                                        <th> Thao Tác </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.MaHoaDon
                                            </td>
                                            <td>
                                                @item.NgayBan
                                            </td>

                                            <td>
                                                <span class=" badge bg-dark text-white">@item.TrangThai</span>
                                            </td>
                                            <td>
                                                <a data-id="@item.Id" class="btn btn-sm btn-primary View-Order ">
                                                    <i class="fa-solid fa-eye"></i> Xem chi tiết
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {

                            <div class="m-b-16 m-b-sm-12 align-items-center " style="display: grid;
                                                 justify-content: center;
                                                 justify-items: center;
                                                 align-items: center;
                                                 height:auto;
                                                 background:#fff;
                                                 padding: 28px 0 16px;
                                                 background: #fff;">
                                <img src="~/img/null_order.png" width="100px" />
                                <p class="css-8uyn92 text-red-5 px-16 md:px-0 text-danger fs-5">Chưa có đơn hàng </p>
                            </div>



                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body d-flex justify-content-end">
                                    @Html.PagedListPager(Model, page => Url.Action("Failorder", new { page, searchName = ViewBag.SearchName }), new PagedListRenderOptions
                               {
                                   LiElementClasses = new string[] { "page-item" },
                                   PageClasses = new string[] { "page-link" },
                                   Display = PagedListDisplayMode.IfNeeded,
                                   MaximumPageNumbersToDisplay = 3 // Số trang bạn muốn hiển thị
                               })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com @DateTime.Now.Year</span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>
