@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.AdminDTO.OrderDto>
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLteAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xử Lý Đơn Hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">Xử Lý Đơn Hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="modal fade" id="View_Order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="View_CanCelReason" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (Model.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th> Mã Hóa Đơn</th>
                                            <th> Ngày Đặt </th>
                                            <th> Trạng Thái</th>
                                            <th style=" display: flex; justify-content: center;"> Thao Tác </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.MaHoaDon
                                                </td>
                                                <td>
                                                    @item.NgayBan
                                                </td>

                                                <td>
                                                    <span class=" badge bg-danger">@item.TrangThai</span>
                                                </td>
                                                <td>
                                                    <a data-id="@item.Id" class="btn btn-sm btn-primary View-Order ">
                                                        <i class="fa-solid fa-eye"></i> Xem chi tiết
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-warning approve-order" data-id="@item.Id">
                                                        <i class="fa-solid fa-pen-to-square"></i> Duyệt Đơn
                                                    </a>
                                                    <a data-id="@item.Id" class="btn btn-sm btn-danger View-CanCelReason">
                                                        <i class="fa-solid fa-trash-can"></i> Hủy Đơn
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="m-b-16 m-b-sm-12 align-items-center " style="display: grid;
                                                        justify-content: center;
                                                        justify-items: center;
                                                        align-items: center;
                                                        height:auto;
                                                        background:#fff;
                                                        padding: 28px 0 16px;
                                                        background: #fff;">
                                    <img src="~/img/null_order.png" width="100px" />
                                    <p class="css-8uyn92 text-red-5 px-16 md:px-0 text-danger fs-5">Chưa có đơn hàng </p>
                                </div>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>