@using System.Globalization
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using System.Globalization;
@inject LanguageService language
@model List<WebsiteBanHang.Areas.Admin.AdminDTO.OrderDto>
@foreach (var item in Model)
{
    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">@language.GetKey("Order")</h2>

        </div> <!-- container.// -->
    </section> <!-- section-pagetop.// -->

    <section class="section-content padding-y">
        <div class="container">
            <div class="row">

                <aside class="col-md-3 mb-md-0 mb-3">
                    <nav class="list-group">
                        <a class="list-group-item active" asp-controller="CustomerOrder" asp-action="Index">  @language.GetKey("Pending")</a>
                        <a class="list-group-item " asp-controller="CustomerOrder" asp-action="Approved"> @language.GetKey("Approved") </a>
                        <a class="list-group-item" asp-controller="CustomerOrder" asp-action="Transport">@language.GetKey("Delivering")  </a>
                        <a class="list-group-item" asp-controller="CustomerOrder" asp-action="Complete"> @language.GetKey("Complete")</a>
                        <a class="list-group-item " asp-controller="CustomerOrder" asp-action="CancelOrders">@language.GetKey("Cancellation Form")</a>

                    </nav>
                </aside> <!-- col.// -->

                <main class="col-md-9">

                    <article class="card mb-4">

                        <header class="card-header">
                            <strong class="d-inline-block me-4">Mã đơn hàng: @item.MaHoaDon</strong>
                            <span>Ngày mua: @item.NgayBan</span>
                        </header> <!-- card-header.// -->

                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h6 class="text-muted">Thông Tin người nhận</h6>
                                    <p class="lh-lg">
                                        Họ tên: @item.TenKhachHang <br>
                                        Số điện thoại: @item.SoDienThoai<br>
                                        Địa chỉ: @item.DiaChi
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="text-muted">Hình thức thanh toán:</h6>
                                    <span class="text-success">
                                        @item.LoaiHoaDon
                                    </span>
                                    <p class="lh-lg">
                                        <strong>Tổng cộng: @string.Format(new CultureInfo("vi-VN", false), "{0:c0}", @item.TongCong)</strong>
                                    </p>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body.// -->

                        <hr class="m-0">

                        <div class="table-responsive">
                            <table class="cart-table table table-borderless">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col" style="min-width: 280px;">Sản phẩm</th>
                                        <th scope="col" width="150" style="min-width: 150px;">Giá</th>
                                        <th scope="col" width="150" style="min-width: 150px;">Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var chiTiet in item.ChiTietHoaDon)
                                    {
                                        <tr>
                                            <td>
                                                <figure class="itemside">
                                                    <div class="float-start me-3"><img src="~/@chiTiet.img" width="100px" height="100px"></div>
                                                    <figcaption class="info">
                                                        <a href="#" class="title">@chiTiet.TenSanPham</a>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <span class="price">@string.Format(new CultureInfo("vi-VN", false), "{0:c0}", @chiTiet.Gia)</span>
                                                </div>
                                            </td>
                                            <td>
                                                @chiTiet.SoLuong
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!-- table.responsive-md.// -->
                        @if (item.HoaDonHuy != null)
                        {
                            <div class="card-body pb-0">
                                <div class="row">

                                    <p class="lh-lg">

                                        <span class="text-capitalize">Ngày hủy: @item.HoaDonHuy.DateCancel <br></span>

                                        @if (item.HoaDonHuy.ReasonAdmin != null)
                                        {
                                            <span class="text-capitalize">Lý do hủy: @item.HoaDonHuy.StatusReasonAdmin <br></span>
                                        }
                                        else
                                        {
                                            <span class="text-capitalize">Lý do hủy: @item.HoaDonHuy.StatusReasonCustomer <br></span>
                                        }


                                        <span class="text-capitalize">Bên hủy: @item.HoaDonHuy.UserCancel <br></span>

                                    </p>

                                </div>
                            </div>

                        }
                    </article>

                </main> <!-- col.// -->

            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- section-content.// -->
}