@using System.Globalization;
﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Home Page";
}
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.Models.ProductModel>
<section class="section-content mb-5">
    <div class="container">
        <header class="section-heading py-4 d-flex justify-content-between">
            <h3 class="section-title d-flex justify-content-between">Danh Sách Sản phẩm</h3>
            @*             <a class="btn btn-secondary" href="#" role="button" style="height: fit-content;">Xem tất cả</a>
            *@
        </header> <!-- section-heading.// -->
        <div class="row item-grid">
            @foreach (var product in Model)
            {

                <div class="col-lg-3 col-md-6">
                    <div class="card p-3 mb-4">
                        <span class="productType" style="position: absolute; top: 10px; left: 10px; width: 40px;">
                            <img class="img-fluid" src="~/img/sales.png" alt="sale off">
                            <span class="percent" style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); line-height: 40px; color: #fff; font-weight: 600;">
                                @if (product.GiaGiam > 0)
                                {
                                    var phanTramGiam = ((product.Gia - product.GiaGiam) / product.Gia) * 100;
                                    @phanTramGiam.ToString("0");
                                }%
                            </span>
                        </span>
                        <a href="#" class="img-wrap text-center">
                            <img class="img-fluid" src="@product.Image">
                        </a>
                        <figcaption class="info-wrap mt-2">
                            <a href="#" class="title text-capitalize">@product.TenSanPham</a>
                            <div class="row">
                                <div class="col-5 price mt-1 fw-bold text-danger">
                                    @string.Format(new CultureInfo("vi-VN", false), "{0:c0}",@product.GiaGiam)
                                </div>
                                <div class="col-7 price mt-1  " style="padding-top: 5px;font-size: 14px;color:#a29c9cd7;text-decoration: line-through;font-style: normal;">
                                    @string.Format(new CultureInfo("vi-VN", false), "{0:c0}",@product.Gia)
                                </div>

                                <div class="row">
                                    @* <div class="col-4 price mt-1  " style="padding-top: 5px;font-size: 14px;color:#a29c9cd7;text-decoration: line-through;font-style: normal;">
                                </div> *@
                                    <div class="col-12 price  fw-bold text-danger">
                                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-primary" id="addToCartButton">
                                            <i class="fa-solid fa-cart-plus"></i> Mua Ngay
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </div>
                </div>
            }<!-- col.// -->
        </div>
        <div class="card-body d-flex justify-content-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page, searchName = ViewBag.SearchName }), new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            Display = PagedListDisplayMode.IfNeeded,
            MaximumPageNumbersToDisplay = 3  // Số trang bạn muốn hiển thị
            })
        </div>

        <!-- row.// -->
    </div> <!-- container.// -->
</section> 