@using System.Globalization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model WebsiteBanHang.Areas.Admin.AdminDTO.StatisticsViewDto
@{
    ViewData["Title"] = "Monthly Revenue Chart";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLteAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-money-bill-1"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Doanh Thu</span>
                            <span class="info-box-number">
                                @string.Format(new CultureInfo("vi-VN", false), "{0:c0}", @Model.TotalRevenue)
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Tổng Hóa Đơn</span>
                            <span class="info-box-number">@Model.TotalOrdersCount</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Số Sản Phẩm Bán Ra</span>
                            <span class="info-box-number">@Model.TotalProductsSold</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title">Báo cáo doanh thu</h5>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-tools">
                                        <label for="selectedYear" class="fs-6 text-capitalize">Chọn Năm:</label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control" id="selectedYear" name="selectedYear" onchange="updateChart()">
                                        @foreach (var year in ViewBag.AvailableYears)
                                        {
                                            <option value="@year" selected="@(ViewData["SelectedYear"] != null && (int)ViewData["SelectedYear"] == year)">@year</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                   
                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        function updateChart() {
            var selectedYear = document.getElementById('selectedYear').value;
            window.location.href = "/admin/homeadmin?selectedYear=" + selectedYear;
        }

        var labels = @Html.Raw(Json.Serialize(ViewBag.Labels));
        var data = @Html.Raw(Json.Serialize(ViewBag.Data));

        var ctx = document.getElementById('salesChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Doanh thu tháng',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}