 @using System.Globalization;
 @inject LanguageService language
 @model List<WebsiteBanHang.Areas.Admin.Models.Cart_Item>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count > 0)
{
    double total = 0;

    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">
                @language.GetKey("Cart")
            </h2>
        </div> <!-- container.// -->
    </section> <!-- section-pagetop.// -->
    <div class="modal fade" id="Create_checkout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">

                <main class="col-lg-9 mb-lg-0 mb-3">
                    <div class="card">

                        <div class="table-responsive-xl">
                            <table class="cart-table table table-borderless">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col" style="min-width: 280px;">@language.GetKey("Product")</th>
                                        <th scope="col" width="150" style="min-width: 150px;">@language.GetKey("Price")</th>
                                        <th scope="col" width="150" style="min-width: 150px;">@language.GetKey("Quantity")</th>
                                        <th scope="col" width="100" style="min-width: 100px;"></th>
                                    </tr>
                                </thead>
                                @foreach (var cartitem in Model)
                                {
                                    var thanhtien = 0.0;
                                    if (cartitem.Product.GiaGiam != 0)
                                    {
                                        var giamgia = cartitem.Product.GiaBan - ((cartitem.Product.GiaBan * cartitem.Product.GiaGiam) / 100);
                                        thanhtien = Convert.ToDouble(cartitem.Quantity * giamgia);
                                    }
                                    else
                                    {
                                        thanhtien = Convert.ToDouble(cartitem.Quantity * cartitem.Product.GiaBan);
                                    }
                                    total += thanhtien;
                                    <tbody>
                                        @if (cartitem.Product.GiaGiam != 0)
                                        {
                                            var giamgia = cartitem.Product.GiaBan - ((cartitem.Product.GiaBan * cartitem.Product.GiaGiam) / 100);


                                            <tr>
                                                <td>
                                                    <figure class="itemside">
                                                        <div class="float-start me-3"><img src="/@cartitem.Product.Image" style="width:80px;height:80px"></div>
                                                        <figcaption class="info">
                                                            <span class="title text-capitalize">@cartitem.Product.TenSanPham</span>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <span class="price">  @string.Format(new CultureInfo("vi-VN", false), "{0:c0}", giamgia)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input asp-for="@cartitem.Quantity" id="@($"quantity-{cartitem.Product.Id}")" class="form-control" type="number" min="1">
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <button class="btn btn-success updatecartitem"
                                                            data-productid="@cartitem.Product.Id">
                                                        <i class="fa-solid fa-square-pen"></i>
                                                        @language.GetKey("Update")
                                                    </button>
                                                    <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@cartitem.Product.Id" class="btn btn-danger ms-1 delete-item">
                                                        <i class="fa-solid fa-delete-left"></i> @language.GetKey("Delete")
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <figure class="itemside">
                                                        <div class="float-start me-3"><img src="/@cartitem.Product.Image" style="width:80px;height:80px"></div>
                                                        <figcaption class="info">
                                                            <span class="title text-capitalize">@cartitem.Product.TenSanPham</span>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <span class="price">  @string.Format(new CultureInfo("vi-VN", false), "{0:c0}", @cartitem.Product.GiaBan)</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input asp-for="@cartitem.Quantity" id="@($"quantity-{cartitem.Product.Id}")" class="form-control" type="number" min="1">
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <button class="btn btn-success updatecartitem"
                                                            data-productid="@cartitem.Product.Id">
                                                        <i class="fa-solid fa-square-pen"></i>
                                                        @language.GetKey("Update")
                                                    </button>
                                                    <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@cartitem.Product.Id" class="btn btn-danger ms-1 delete-item">
                                                        <i class="fa-solid fa-delete-left"></i> @language.GetKey("Delete")
                                                    </a>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                }
                            </table>
                        </div> <!-- table.responsive-md.// -->

                        <div class="card-body border-top">
                            @*<a asp-controller="cart" asp-action="checkout" class="btn btn-primary float-end create-checkout"> <i class="fa-solid fa-receipt"></i> mua hàng</a>*@
                            <a asp-controller="User" asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i> @language.GetKey("Continue shopping")</a>
                        </div> <!-- card-body.// -->

                    </div> <!-- card.// -->
                </main> <!-- col.// -->

                <aside class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="row mb-0">
                                <dt class="col-xxl-6 col-lg-12 col-6">@language.GetKey("Provisional"):</dt>
                                <dd class="col-xxl-6 col-lg-12 col-6 text-end mb-3"> @string.Format(new CultureInfo("vi-VN", false), "{0:c0}", total)</dd>
                                <dt class="col-xxl-6 col-lg-12 col-6">@language.GetKey("Transport fee"):</dt>
                                <dd class="col-xxl-6 col-lg-12 col-6 text-end mb-3">0₫</dd>
                                <dt class="col-xxl-6 col-lg-12 col-6">@language.GetKey("Total"):</dt>
                                <dd class="col-xxl-6 col-lg-12 col-6 text-end mb-3"><strong> @string.Format(new CultureInfo("vi-VN", false), "{0:c0}", total)</strong></dd>
                            </dl>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-title">@language.GetKey("Payments")</p>
                            <form method="post" id="checkoutForm">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="delivery_method" id="delivery_method_1" value="cod" checked>
                                    <label class="form-check-label" for="delivery_method_1">@language.GetKey("Payment on delivery")</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="delivery_method" id="delivery_method_2" value="card">
                                    <label class="form-check-label" for="delivery_method_2">@language.GetKey("Payment via card")</label>
                                </div>
                                <button type="button" onclick="buttonCheckout()" class="btn btn-info">@language.GetKey("Checkout")</button>
                            </form>


                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->

            </div> <!-- row.// -->
        </div> <!-- container -->
    </section> <!-- section-content.// -->
}
else
{
    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page text-capitalize">@language.GetKey("Cart")</h2>

            <div class="m-b-16 m-b-sm-12 align-items-center " style="display: grid;
                                                                         justify-content: center;
                                                                         justify-items: center;
                                                                         align-items: center;
                                                                         background:#fff;max-width: 600px;
                                                                         padding: 28px 0 16px;
                                                                         background: #fff;
                                                                         border-radius: 12px;
                                                                         margin: 32px auto 0;">
                <img src="~/img/empty-cart.png" width="296" />
                <p class="css-8uyn92 text-red-5 px-16 md:px-0 text-danger fs-5">@language.GetKey("There are no products in the cart yet")</p>
                <div class="cart-status_btn m-b-32 cart-empty_cart-status_btn__yWtjL">
                    <a href="/" class="btn btn-danger border-2" style="border-radius:10%">
                        <span>  @language.GetKey("Buy Now")</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
}
