@using System.Security.Claims
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using System.Globalization;
@inject LanguageService language
<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">@language.GetKey("Account")</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">

            <aside class="col-md-3 mb-md-0 mb-3">
                <nav class="list-group">
                    <a class="list-group-item active" asp-controller="CustomerInfo" asp-action="AccountInfo">@language.GetKey("Account")  </a>
                    <a class="list-group-item" asp-controller="CustomerInfo" asp-action="Changepassword"> @language.GetKey("Change Password") </a>
                    <a class="list-group-item" asp-controller="CustomerInfo" asp-action="Setting"> @language.GetKey("Settings") </a>
                    <a class="list-group-item" asp-controller="Home" asp-action="Logout">@language.GetKey("Log out") </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        <div>
                            <h5 style="color:black;font-size:18px;font-weight:bold;" class="text-uppercase">@language.GetKey("Name"): @string.Join(", ", User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value))</h5>
                            <p>Email: @string.Join(", ", User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value))</p>
                        </div>
                        <hr>
                        <div>
                            <p class="d-block lh-lg">
                                @language.GetKey("Address"): @string.Join(", ", User.Claims.Where(c => c.Type == ClaimTypes.StreetAddress).Select(c => c.Value))
                            </p>
                        </div>
                        <div>
                            <p class="d-block lh-lg">
                                @language.GetKey("Phone number"): @string.Join(", ", User.Claims.Where(c => c.Type == ClaimTypes.MobilePhone).Select(c => c.Value))
                            </p>
                        </div>
                    </div> <!-- card-body.// -->
                </article>
            </main> <!-- col.// -->

        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->