@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using System.Globalization;
@inject LanguageService language
<section class="section-pagetop bg-light">

    <div class="container">
        <h2 class="title-page">@language.GetKey("Change Password")</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">

            <aside class="col-md-3 mb-md-0 mb-3">
                <nav class="list-group">
                    <a class="list-group-item " asp-controller="CustomerInfo" asp-action="AccountInfo"> @language.GetKey("Account") </a>
                    <a class="list-group-item active" asp-controller="CustomerInfo" asp-action="Changepassword"> @language.GetKey("Change Password") </a>
                    <a class="list-group-item" asp-controller="CustomerInfo" asp-action="Setting"> @language.GetKey("Settings") </a>
                    <a class="list-group-item" asp-controller="Home" asp-action="Logout">@language.GetKey("Log out") </a>
                </nav>
            </aside> <!-- col.// -->

            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        <div class="col-lg-6">
                            <form method="post" id="ChangePasswordForm" class="change-password-form">
                                <div class="mb-3">
                                    <input type="hidden" name="Id">
                                    <label for="Password" class="form-label">
                                        @language.GetKey("Enter current password")
                                    </label>
                                    <input type="password" class="form-control password-input" id="Password" name="currentPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="NewPassword" class="form-label">
                                        @language.GetKey("Enter your new password")
                                    </label>
                                    <input type="password" class="form-control password-input" id="NewPassword" name="newPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="NewPasswordAgain" class="form-label">
                                        @language.GetKey("Enter the new password again")
                                    </label>
                                    <input type="password" class="form-control password-input" id="NewPasswordAgain" name="newPasswordAgain">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePasswords()">
                                    <label class="form-check-label" for="showPassword">@language.GetKey("Show passwords")</label>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <button type="reset" class="btn btn-primary w-100">@language.GetKey("Reset")</button>
                                    </div>
                                    <div class="col-8">
                                        <button type="button" onclick="buttonChangePassword()" class="btn btn-success w-100">@language.GetKey("Change Password")</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div> <!-- card-body.// -->
                </article>
            </main> <!-- col.// -->

        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->