@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<WebsiteBanHang.Areas.Admin.AdminDTO.ProductViewDTO>
<style>
    .table th, .table td {
        vertical-align: middle;
        font-size: 0.875rem;
        line-height: 1;
        white-space: nowrap;
        padding: 0rem;
        padding-bottom: 1rem;
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title fs-3"> Quản Lý Sản Phẩm </h3>
        </div>
        <div class="row">
            <div class="row grid-margin ">

                <div class="col-lg-6">
                    <button type="button" class="btn btn-info create-produt">
                        <i class="fa-solid fa-plus"></i> Thêm hãng sản phẩm
                    </button>
                </div>
                <div class="col-lg-6">
                    <form class="d-flex" role="search" asp-area="Admin" asp-controller="Product" asp-action="Index" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchName" id="searchName" value="@ViewBag.SearchName">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>

                <div class="modal fade" id="Create_Product" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-produt-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr class="tr_header">
                                    <th> Mã Sản Phẩm </th>
                                    <th> Tên  </th>
                                    <th> Hãng </th>
                                    <th> Loại  </th>
                                    <th> Gía </th>
                                    <th> Thông Tin </th>
                                    <th> Ảnh </th>
                                    <th> Chỉnh Sửa </th>
                                    <th> Xóa </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.MaSanPham
                                        </td>
                                        <td>
                                            @item.TenSanPham
                                        </td>
                                        <td>
                                            @item.HangTen
                                        </td>
                                        <td>
                                            @item.LoaiTen
                                        </td>
                                        <td>
                                            @item.Gia
                                        </td>
                                        <td>
                                            @item.ThongTinSanPham
                                        </td>
                                        <td>
                                            <img src="~/@item.Image" style="height: 70px; width: 70px;" alt="Hình ảnh sản phẩm" />

                                        </td>
                                        <td>
                                            <a data-id="@item.Id" class="btn btn-sm btn-warning edit-produt"><i class="bi bi-pencil-square"></i><i class="fa-solid fa-pen-to-square"></i> Sửa</a>&nbsp;
                                        </td>
                                        <td>
                                            <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i><i class="fa-solid fa-trash-can"></i> Xóa </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body d-flex justify-content-end">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchName = ViewBag.SearchName }), new PagedListRenderOptions
                                    {
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" },
                                    Display = PagedListDisplayMode.IfNeeded,
                                    MaximumPageNumbersToDisplay = 3 // Số trang bạn muốn hiển thị
                                    })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>